html {
    scroll-behavior: smooth;
}

#video {
    width: 100%;
    height: 500px;
    border: none;
}

#marqueestyle {
    background-color: blue;
    color: white;
}

.my_nav_bar {
    position: sticky;
    top: 0px;
    z-index: 99999;
}

#map iframe {
    width: 100%;
}

.achievment_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.achievment_head i {
    float: right;
}




.campus_life_mainDiv {
    float: left;
    width: 33;
    padding: 5px;
    border: 3px;
}

.campus_life_mainDiv img {
    width: 100%;
    height: 300px;
}

.campus_life_mainDiv hr {
    width: 100%;
}

.campus_life_mainDiv h5,
.campus_life_mainDiv p {
    margin-left: 20px;
}

#Details h3 {
    display: inline;
}
p{
    font-size: 20px;
}
img{
    height: 400px;
    width: 250px;
}